@import "~bootstrap/scss/bootstrap"

*
    box-sizing: border-box

body
    margin: 0

ul
    list-style-type: none
    padding: 0

li
    margin-bottom: 5px

.flex
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.github-btn
    margin-bottom: 20px

.badge
    margin-top: 10px !important
    margin-right: 10px !important
    padding: 5px 10px !important

::-webkit-scrollbar
    width: 10px
    background: transparent

::-webkit-scrollbar-thumb
    background: #007bff

@media (max-width: 576px)
    .flex
        margin-bottom: 20px

@keyframes showAlert
    0%
        opacity: 0
        transform: translateX(-50px)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes showCard
    0%
        opacity: 0
        transform: translateY(-50px)
    100%
        opacity: 1
        transform: translateY(0)

.alert
    animation: showAlert .3s

.card
    animation: showCard .3s

.jumbotron
    background: #fff !important
    margin-bottom: 20px !important
    padding: 0 !important
